  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/presentations/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/presentations/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/presentations/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		<title>{{ page.title }}</title>

    <style type="text/css">
      /*body {
        padding-top: 60px;
        padding-bottom: 40px;
      }*/
      .sidebar-nav {
        padding: 9px 0;
      }
      .table th, .table td { border-top: 1px solid white; }
      .presDescription { font-size: 12px; color: #555;}
			.basicTrack { background-color: #0F8B1B; }
			.advTrack {	background-color: #006299; }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
  </head>